@page "/access-denied"

	<div class="card">
		<div class="text-center nt-2">
			<span class="text-danger fw-bold">У вас нет разрешения на просмотр этой страницы. Vaffanculo, stronzo!</span>
		</div>
	</div>