@page "/add-specific-product"
@attribute [StreamRendering]
@attribute [Authorize(Roles = "логист")]
@rendermode RenderMode.InteractiveServer

<SpecificProductForm />
	
<h5>Доступные базовые продукты</h5>
<Grid TItem="BaseProductOutputModel"
      Class="table table-hover table-bordered table-striped"
      DataProvider="ProductsDataProvider"
      AllowSorting="true"
      Responsive="true">
    <GridColumns>
        <GridColumn TItem="BaseProductOutputModel" HeaderText="Id" PropertyName="Id" SortKeySelector="item => item.Id">
            @context.Id
        </GridColumn>
        <GridColumn TItem="BaseProductOutputModel" HeaderText="Название" PropertyName="Название" SortKeySelector="item => item.Name">
            @context.Name
        </GridColumn>
        <GridColumn TItem="BaseProductOutputModel" HeaderText="Поставщик" PropertyName="Категория" SortKeySelector="item => item.Category">
            @context.Category
        </GridColumn>
    </GridColumns>
</Grid>



@code {
    private List<BaseProductOutputModel> _baseProducts = default!;

    private LogisticianProductManager _logisticianProductManager;

    private SysAdminBaseProductManager _sysAdminProductManager;

    public AddSpecificProductMenuPage()
    {
        _logisticianProductManager = new();

        _sysAdminProductManager = new();
    }

    private async Task<GridDataProviderResult<BaseProductOutputModel>> ProductsDataProvider(GridDataProviderRequest<BaseProductOutputModel> request)
    {
        if (_baseProducts is null)
            _baseProducts = await GetSpecificProducts();

        return await Task.FromResult(request.ApplyTo(_baseProducts));
    }

    private async Task<List<BaseProductOutputModel>> GetSpecificProducts()
    {
        return await _sysAdminProductManager.GetAllBaseProducts();
    }
}