@page "/"

<PageTitle>Главная</PageTitle>

<h5>Добро пожаловать в систему учета продуктов.</h5>

<AuthorizeView>
	<NotAuthorized>
		<p>Вам необходимо войти в систему.</p>
	</NotAuthorized>
</AuthorizeView>


