@page "/logistician-product-menu-page"
@attribute [StreamRendering]
@attribute [Authorize(Roles = "логист")]
@using static InventoryCheckPlatform.Components.MinorElements.CardPagination
@rendermode RenderMode.InteractiveServer

<div class="col-md-12 text-right">
    <a href="/add-specific-product">Добавить продукт</a>
</div>

@if (_products.Count > 0)
{
    <div class="card-holder">
        @for (int i = _paginationStart; i <= _paginationEnd; i++)
        {
            <LogisticianSpecificProductCard SpecificProduct="@_products[i]" />
        }
    </div>
}
else
{
    <p>Продуктов нет.</p>
}

<CardPagination ListCount="_products.Count"
                PaginationStart="_paginationStart"
                PaginationEnd="_paginationEnd"
                NumberOfItemsPerPage="_numberOfItemsPerPage"
                OnClickCallback="@SetPagination"></CardPagination>

@code
{
    private List<SpecificProductOutputModel> _products;

    private LogisticianProductManager _manager;

    private int _numberOfItemsPerPage;

    private int _paginationStart;

    private int _paginationEnd;

    public LogisticianProductMenuPage()
    {
        _manager = new();
        _products = new();
        _numberOfItemsPerPage = 6;
    }

    protected override async Task OnInitializedAsync()
    {
        _products = await _manager.GetAllSpecificProducts();

        if (_products.Count < _numberOfItemsPerPage)
        {
            _paginationStart = 0;
            _paginationEnd = _products.Count - 1;
        }
        else
        {

            _paginationStart = 0;
            _paginationEnd = _numberOfItemsPerPage;
        }

        await base.OnInitializedAsync();
    }

    public void SetPagination(PaginationEventArgs e)
    {
        _paginationStart = e.PaginationStart;
        _paginationEnd = e.PaginationEnd;
    }
}