@page "/recipes-list-page"
@attribute [StreamRendering]
@attribute [Authorize(Roles = "администратор ресторана")]
@rendermode RenderMode.InteractiveServer
@using static InventoryCheckPlatform.Components.MinorElements.CardPagination


<div class="col-md-12 text-right">
    <a href="/recipe-form">Добавить рецепт</a>
</div>


@if (_recipe.Count > 0)
{
    <div style="display:flex; justify-content: flex-start; flex-wrap:wrap;">
        @foreach (var p in _recipe)
        {
            <RecipeCard Recipe="@p" />
        }
    </div>
}
else
{
    <p>Рецептов нет</p>
}

<CardPagination ListCount="_recipe.Count"
                PaginationStart="_paginationStart"
                PaginationEnd="_paginationEnd"
                NumberOfItemsPerPage="_numberOfItemsPerPage"
                OnClickCallback="@SetPagination"></CardPagination>

@code
{
    private List<ShortRecipeOutputModel> _recipe;

    private AdminRecipeManager _manager;

    private int _numberOfItemsPerPage;

    private int _paginationStart;

    private int _paginationEnd;

    public RecipePage()
    {
        _manager = new();
        _recipe = _manager.GetAllRecipes();
        _numberOfItemsPerPage = 6;

        if (_recipe.Count < _numberOfItemsPerPage)
        {
            _paginationStart = 0;
            _paginationEnd = _recipe.Count - 1;
        }
        else
        {

            _paginationStart = 0;
            _paginationEnd = _numberOfItemsPerPage;
        }
    }

    public void SetPagination(PaginationEventArgs e)
    {
        _paginationStart = e.PaginationStart;
        _paginationEnd = e.PaginationEnd;
    }
}

