@page "/restaurants-menu-page"
@attribute [StreamRendering]
@attribute [Authorize(Roles = "системный администратор, логист")]
@using static InventoryCheckPlatform.Components.MinorElements.CardPagination
@rendermode RenderMode.InteractiveServer

<AuthorizeView Roles="системный администратор">
        <Authorized>
            <RestaurantForm />
        </Authorized>
</AuthorizeView>

@if (_restaurants.Count > 0)
{
    <div class="card-holder">
        @for (int i = _paginationStart; i <= _paginationEnd; i++)
        {
            <RestaurantCard Restaurant="@_restaurants[i]" />
        }
    </div>
}
else
{
    <p>Ресторанов нет.</p>
}

<CardPagination ListCount="_restaurants.Count"
                PaginationStart="_paginationStart"
                PaginationEnd="_paginationEnd"
                NumberOfItemsPerPage="_numberOfItemsPerPage"
                OnClickCallback="@SetPagination"></CardPagination>

@code
{
    private List<RestaurantOutputModel> _restaurants;

    private SysAdminRestaurantManager _manager;

    private int _numberOfItemsPerPage;

    private int _paginationStart;

    private int _paginationEnd;

    public RestaurantMenuPage()
    {
        _manager = new();

        _restaurants = new();

        _numberOfItemsPerPage = 6;
    }

    protected override async Task OnInitializedAsync()
    {
        _restaurants = await _manager.GetAllRestaurants();

        if (_restaurants.Count < _numberOfItemsPerPage)
        {
            _paginationStart = 0;
            _paginationEnd = _restaurants.Count-1;
        }
        else
        {
            _paginationStart = 0;
            _paginationEnd = _numberOfItemsPerPage;
        }

        await base.OnInitializedAsync();
    }

    private void SetPagination(PaginationEventArgs e)
    {
        _paginationStart = e.PaginationStart;
        _paginationEnd = e.PaginationEnd;
    }
}