@page "/product-menu-page"
@using static InventoryCheckPlatform.Components.MinorElements.CardPagination
@rendermode RenderMode.InteractiveServer

 <BaseProductForm />

@if (_products.Count > 0)
{
	<div class="card-holder">
		@for (int i = _paginationStart; i < _paginationEnd; i++)
		{
			<BaseProductCard Product="@_products[i]" />
		}
	</div>
}
else
{
	<p>Продуктов нет.</p>
}

<CardPagination ListCount="_products.Count"
                PaginationStart="_paginationStart"
                PaginationEnd="_paginationEnd"
                NumberOfItemsPerPage="_numberOfItemsPerPage"
                OnClickCallback="@SetPagination"></CardPagination>

@code
{
    private List<BasePoductOutputModel> _products;

    private SysAdminProductManager _manager;

    private int _numberOfItemsPerPage;

    private int _paginationStart;

    private int _paginationEnd;

    public SysAdminBaseProductMenuPage()
    {
        _manager = new();
        _products = _manager.GetAllBaseProducts();
        _numberOfItemsPerPage = 6;
       
        if (_products.Count < _numberOfItemsPerPage)
        {
            _paginationStart = 0;
            _paginationEnd = _products.Count - 1;
        }
        else
        {

            _paginationStart = 0;
            _paginationEnd = _numberOfItemsPerPage;
        }
    }

    private void SetPagination(PaginationEventArgs e)
    {
        _paginationStart = e.PaginationStart;
        _paginationEnd = e.PaginationEnd;
    }
}