.card-holder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
    border: inset #d9dbde;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background-color: #f5f5f5;
}

.btn {
    display: block;
    margin: 0 auto 15px;
    width: 50%;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    font-family: Verdana;
    border: solid #d6b6fc;
    background: #f5f5f5
}
