@page "/user-list-page"
@attribute [StreamRendering]
@attribute [Authorize(Roles = "администратор")]
@rendermode RenderMode.InteractiveServer

<UserForm />

@if (_users.Count > 0)
{
    <div class="card-holder">
   @foreach (var p in _users)
    {
        <ShortUserCard User="@p"/>
    }
    </div>
}
else
{
    <p>Пользователей нет</p>
}

@code {
    private List<ShortUserOutputModel> _users;

    private SysAdminUserManager _manager;

    public SysAdminUserPage()
    {
        _manager = new();
        _users = new();
    }

    protected override async Task OnInitializedAsync()
    {
        _users = await _manager.GetAllUsersShortInfo();
        await base.OnInitializedAsync();
    }
}
