@page "/base-product-menu-page"
@attribute [StreamRendering]
@attribute [Authorize(Roles = " системный администратор")]
@using static InventoryCheckPlatform.Components.MinorElements.CardPagination
@rendermode RenderMode.InteractiveServer

 <BaseProductForm />

@if (_products.Count > 0)
{
	<div class="card-holder">
		@for (int i = _paginationStart; i <= _paginationEnd; i++)
		{
			<BaseProductCard Product="@_products[i]" />
		}
	</div>
}
else
{
	<p>Продуктов нет.</p>
}

<CardPagination ListCount="_products.Count"
                PaginationStart="_paginationStart"
                PaginationEnd="_paginationEnd"
                NumberOfItemsPerPage="_numberOfItemsPerPage"
                OnClickCallback="@SetPagination"></CardPagination>

@code
{
    private List<BaseProductOutputModel> _products;

    private SysAdminBaseProductManager _manager;

    private int _numberOfItemsPerPage;

    private int _paginationStart;

    private int _paginationEnd;

    public SysAdminBaseProductMenuPage()
    {
        _manager = new();
        _products = new();
        _numberOfItemsPerPage = 6;
    }

    protected override async Task OnInitializedAsync()
    {
        _products = await _manager.GetAllBaseProducts();

        if (_products.Count < _numberOfItemsPerPage)
        {
            _paginationStart = 0;
            _paginationEnd = _products.Count - 1;
        }
        else
        {

            _paginationStart = 0;
            _paginationEnd = _numberOfItemsPerPage;
        }

        await base.OnInitializedAsync();
    }

    private void SetPagination(PaginationEventArgs e)
    {
        _paginationStart = e.PaginationStart;
        _paginationEnd = e.PaginationEnd;
    }
}