@rendermode RenderMode.InteractiveServer

<Dropdown AutoClose="true">
	<DropdownToggleButton style="display: block;
        margin: 0 auto 15px;
        width: 50%;
        height: 50px;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 10px 10px 10px;
        font-family:Verdana;
        color:black;
        border: solid #d6b6fc;
        background: #f5f5f5">
    Добавить продукт
	</DropdownToggleButton>
    <DropdownMenu Class="px-4 py-3" Style="width:480px;">
        <EditForm Model="@baseProduct" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label class="form-label">Название:<span class="text-danger">*</span></label>
                <InputText @bind-Value="baseProduct.Name" />
            </div>
            <div class="mb-3">
                <label class="form-label">Категория:</label>
                <InputText @bind-Value="baseProduct.Category" />
            </div>
             <div class="row">
                    <div class="col-md-12 text-right">
                        <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Class="float-end" @onclick="ResetForm">Сбросить</Button>
                        <Button Type="ButtonType.Submit" Color="ButtonColor.Success" Class="float-end me-2">Подтвердить</Button>
                    </div>
            </div>
        </EditForm>
    </DropdownMenu>
</Dropdown>

@code
{
    private BaseProductInputModel baseProduct;

    public BaseProductForm()
    {
        baseProduct = new();
    }

    public void Submit()
    {
        Console.WriteLine($"Добавилось!");
    }

    private void ResetForm()
    {
        baseProduct = new();
    }
}

