@rendermode RenderMode.InteractiveServer

<EditForm Model="@ExtendedBaseProduct" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3 text-center">
        <label class="form-label">Название:<span class="text-danger">*</span></label>
        <InputText @bind-Value="ExtendedBaseProduct.Name" Placeholder="@ExtendedBaseProduct.Name" />
    </div>
    <div class="mb-3 text-center">
        <label class="form-label">Категория:</label>
        <InputText @bind-Value="ExtendedBaseProduct.Category" Placeholder="@ExtendedBaseProduct.Category" />
    </div>
    <div class="row">
        <div class="col-md-14 text-center">
            <input class="btn btn-success" type="submit" value="Подтвердить">
            <input class="btn btn-light" type="reset" value="Сбросить">
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public ExtendedBaseProductInputModel ExtendedBaseProduct { get; set; }

    private void Submit()
    {
        Console.WriteLine($"Изменилось!");
    }
}