@rendermode RenderMode.InteractiveServer

<div class="dropdown-center">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Добавить продукт
    </button>
    <ul class="dropdown-menu">
        <EditForm Model="@baseProduct" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3 text-center">
                <label class="form-label">Название:<span class="text-danger">*</span></label>
                <InputText @bind-Value="baseProduct.Name" />
            </div>
            <div class="mb-3 text-center">
                <label class="form-label">Категория:</label>
                <InputText @bind-Value="baseProduct.Category" />
            </div>
            <div class="row">
                <div class="col-md-14 text-center">
                    <input class="btn btn-success" type="submit" value="Подтвердить">
                    <input class="btn btn-light" type="reset" value="Сбросить" @onclick="Refresh">
                </div>
            </div>
        </EditForm>
    </ul>
</div>

@code
{
    private BaseProductInputModel baseProduct;

    public BaseProductForm()
    {
        baseProduct = new();
    }

    private void Submit()
    {
        Console.WriteLine($"Добавилось!");
        Refresh();
    }

    private void Refresh()
    {
        baseProduct = new();  
    }
}

