@rendermode RenderMode.InteractiveServer
<div class="card">
	<img src="667f354d-06ee-42ed-b70b-8a749a3e2969.jpg" class="card-img-top" alt="Пицца">
	<div class="card-body">
		<h5 class="card-title">@SpecificProduct.Name</h5>
		<p class=" card-text">Id: @SpecificProduct.Id</p>
		<p class="card-text">Поставщик: @SpecificProduct.Vendor </p>
		<p class="card-text">Цена: @SpecificProduct.Price </p>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Опции
			</button>
			<ul class="dropdown-menu">
				<li><button class="dropdown-item" type="button" @onclick="ShowForm">Редактировать</button></li>
				<li><button class="dropdown-item" type="button">Удалить</button></li>
			</ul>
		</div>

		<Modal @ref="modal" UseStaticBackdrop="false" CloseOnEscape="true" />

	</div>
</div>

@code {
	[Parameter]
	[EditorRequired]
	public SpecificProductOutputModel SpecificProduct { get; set; }

	private Modal modal = new();

	private async Task ShowForm()
	{
		ExtendedSpecificProductInputModel productInputModel = new()
			{
				Id = SpecificProduct.Id,
				Name = SpecificProduct.Name,
				Vendor = SpecificProduct.Vendor,
				Price = SpecificProduct.Price
			};
		var parameters = new Dictionary<string, object>();
		parameters.Add("ExtendedSpecificProduct", productInputModel);
		await modal.ShowAsync<SpecificProductModificationForm>(title: "Редактирование продукта", parameters: parameters);
	}
}