@rendermode RenderMode.InteractiveServer
<div class="card">
	<img src="667f354d-06ee-42ed-b70b-8a749a3e2969.jpg" class="card-img-top" alt="Пицца">
	<div class="card-body">
		<h5 class="card-title">@Restaurant.Address</h5>
		<p class=" card-text">Id: @Restaurant.Id</p>
		<p class="card-text">Администратор: @Restaurant.Admin.Name</p>

		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Опции
			</button>
			<ul class="dropdown-menu">
				<li><button class="dropdown-item" type="button" @onclick="ShowForm">Редактировать</button></li>
				<li><button class="dropdown-item" type="button">Удалить</button></li>
			</ul>
		</div>

		<Modal @ref="modal" UseStaticBackdrop="false" CloseOnEscape="true" />

	</div>
</div>


@code {
	[Parameter]
	[EditorRequired]
	public RestaurantOutputModel Restaurant { get; set; }

	private Modal modal = new();

	private async Task ShowForm()
	{
		ExtendedRestaurantInputModel restaurantInputModel = new() { Id = Restaurant.Id, Address = Restaurant.Address, AdminId = Restaurant.Admin.Id };
		var parameters = new Dictionary<string, object>();
		parameters.Add("ExtendedRestaurant", restaurantInputModel);
		await modal.ShowAsync<RestaurantModificationForm>(title: "Редактирование ресторана", parameters: parameters);
	}
}