@rendermode RenderMode.InteractiveServer
@inject NavigationManager NavigationManager

<EditForm Model="@SpecificProductlWithAmount" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Количество:<span class="text-danger">*</span></label>
        <InputNumber @bind-Value="SpecificProductlWithAmount.ProductAmount" Placeholder="@SpecificProductlWithAmount.ProductAmount" class="form-control" />
        <div class="row">
            <div class="col-md-12 text-center">
                <button @onclick="Decrement" class="btn btn-secondary">-</button>
                <button @onclick="Increment" class="btn btn-secondary">+</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <input class="btn btn-success" type="submit" value="Подтвердить">
            <input class="btn btn-light" type="reset" value="Сбросить" @onclick="Refresh">
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    [EditorRequired]
    public RestaurantSpecificProductAmountInputModel SpecificProductlWithAmount { get; set; }

    private RestaurantAdminProductManager _manager;

    public SpecificProductAmountModificationForm()
    {
        _manager = new();
    }

    public async Task Submit()
    {
       await _manager.UpdateSpecificProductAmount(SpecificProductlWithAmount);

        NavigationManager.NavigateTo($"/rest-product-menu-page/{SpecificProductlWithAmount.RestaurantId}", true);
    }

    private void Refresh()
    {
        SpecificProductlWithAmount.ProductAmount = 0;
    }

    private void Increment()
    {
        SpecificProductlWithAmount.ProductAmount++;
    }

    private void Decrement()
    {
        SpecificProductlWithAmount.ProductAmount--;
    }
}